/* ------------------------------------------------------------------------
Produtos marca Máx
--------------------------------------------------------------------------- */
main {
  position: relative;
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
}

/*fundo*/
body {
  background-image: url(../../../images/global/background-main2.webp);
  background-size: 900px auto;
  background-attachment: local;
  background-position: right;
  background-repeat: repeat-y;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.produtos h1 {
  font-family: 'MyriadProBlack', sans-serif;
  font-size: 36px;
  color: #e84b2a;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.produtos {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 835px; 
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent; 
}

/* Banner principal */
.galeria1 {
  display: flex;
  justify-content: center;
  max-width: 805px;
  margin-bottom: 0;
}

/* Grades de produtos */
.galeria2, .galeria3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  max-width: 835px;
  margin: 0; /* Remover margens */
  border-collapse: collapse; /* Colapsar bordas */
}
.galeria1 img:hover, .galeria2 img:hover, .galeria3 img:hover{
  transform: scale(1.01);
}
.galeria1 img {
  width: 100%;
  height: auto;
  display: block;
}

.galeria2 img, .galeria3 img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  display: block;
  margin: 0; /* Remover margens */
  padding: 0; /* Remover padding */
}

.galeria1 a {
  width: 100%;
  text-decoration: none;
  display: block;
}

.galeria2 a, .galeria3 a {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0; /* Remover margens */
  padding: 0; /* Remover padding */
  border: none; /* Remover bordas */
}

/* Ajuste para galeria de 2 colunas */
.galeria3 {
  grid-template-columns: repeat(2, 1fr);
}

 .botao-voltar-container {
      display: flex;
      justify-content: flex-end;
      width: 77%;
      margin-bottom: 2%;
    }

    .botao-voltar {
      width: max-content;
      font-family: 'MyriadProRegular', sans-serif;
      font-size: 16px;
      color: #003366;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .botao-voltar:hover {
      text-decoration: underline;
    }

/* Remove espaços entre linhas do grid */
.galeria2, .galeria3 {
  font-size: 0; /* Remover espaços de texto */
  line-height: 0; /* Remover espaços de linha */
}

/* Ajustes para elementos adjacentes */
.galeria2 + .galeria3,
.galeria3 + .galeria2 {
  margin-top: 0; /* Remover espaço entre galerias */
}

/* Eliminar qualquer borda ou margem que possa criar espaçamento */
.galeria2 > a, .galeria3 > a {
  outline: none;
  border: none;
  box-shadow: none;
}