/* ---------------------------------------------------------------------------
   Header – estrutura e seções - layout consistente em todas plataformas
--------------------------------------------------------------------------- */

/* Header Principal */
.site-header {
  position: relative;
  width: 100%;
  z-index: 999;
  font-family: 'MyriadProRegular', sans-serif;
}

/* Header Top (Azul) */
.header-top {
  background-image: url(../../images/global/background-blue.webp);
  background-repeat: repeat-x;
  background-size: auto 102%;
  background-color: #183e85;
  color: #ffffff;
  padding: 3px 0;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15%;
  box-sizing: border-box;
}

.header-top .logo {
  position: relative;
}
.header-top .logo:hover{
  transform:scale(1.02);

}
.header-top .logo img {
  max-width: 150px;
  display: block;
  border: none;
  position: relative;
  padding-top: 21px;
}

.header-top .logo a {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.header-top .social-links {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.header-top .social-links img {
  max-width: 22px;
  display: block;
}
.header-top .social-links img:hover{
  transform: scale(1.08);
}
/* Header Mid (Laranja) */
.header-mid {
  background-color: #e84b2a;
  color: #ffffff;
  border-bottom: 3px solid #b33900;
  padding: 5px 0;
  text-align: center;
}

.header-mid-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 11%;
  box-sizing: border-box;
}

.header-mid-container nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 6%;
}

.header-mid-container nav ul li {
  margin: 0;
  padding: 0;
}

.header-mid-container nav ul li a {
  font-family: 'MyriadProRegular', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  white-space: nowrap;
  border-right: 1px solid white;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  height: 100%;
  box-sizing: border-box;
}

.header-mid-container nav ul li:last-child a {
  border-right: none;
}

/* Header Bottom (Branco) */
.header-bottom {
  background: #fff;
  color: #333;
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}

.header-bottom-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.header-bottom-container nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap; /* Impede que os itens quebrem para a próxima linha */
}

.header-bottom-container nav ul li {
  margin: 2px;
  padding: 0;
}

.header-bottom-container nav ul li a {
  font-family: 'MyriadProRegular', sans-serif;
  color: #000080;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.2s ease;
  height: 100%;
  box-sizing: border-box;
}

.header-bottom-container nav ul li a img {
  max-width: 30px;
  max-height: 30px;
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

/*Hover fixo*/

.header-mid a:hover,
.header-mid a.active{
  background-color: #12306b;
  color: white;
}
.header-bottom a:hover,
.header-bottom a.active{
  background-color: #e6e6e6;
  color: #d43d1a;
}