@media screen and (max-width: 992px) {

  body {
    background-image: none;
    background-color: #fff;
  }
  main.compre-main {
    min-height: 100px;
    padding: 0 10%;
  }

  .compre h1 {
    font-size: 22px;
  }

  .compre p {
    font-size: 14px;
  }

  .infografico {
    width: 55%;
    margin-top: 50px;
  }

  .infografico img {
    height: 95%;
    object-fit: fill;
  }
}

@media screen and (max-width: 768px) {


  main.compre-main {
    padding: 0 5%;
    align-items: stretch;
  }

  .compre-content {
    width: 48%;
    padding-right: 5px;
  }

  .infografico {
    width: 52%;
    margin-top: 25px;
  }

  .compre h1 {
    font-size: 19px;
  }

  .compre p {
    font-size: 11px;
  }

  .btn-whatsapp img {
    width: 100%;
    height: auto;
  }

  .infografico img {
    height: 95%;
    object-fit: fill;
  }
}

@media screen and (max-width: 576px) {
  main.compre-main {
    padding: 0 3%;
    margin: 5px auto;
  }

  .compre-content {
    width: 47%;
  }

  .infografico {
    width: 53%;
    margin-top: 10px;
  }

  .compre h1 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .compre p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .btn-whatsapp {
    margin-bottom: 4px;
  }

  .btn-whatsapp img {
    width: 100%;
    height: auto;
  }

  .infografico img {
    height: 95%;
    object-fit: fill;
  }
}

@media screen and (max-width: 426px) {
  main.compre-main {
    padding: 0 5%;
  }

  .compre-content {
    width: 45%;
  }

  .infografico {
    width: 60%;
    margin-top: 15px;
  }

  .compre h1 {
    font-size: 0.7rem;
  }

  .compre p {
    font-size: 0.5rem;
    line-height: 1.2;
  }

  .btn-whatsapp img {
    width: 100%;
    height:auto;
    object-fit: contain;
  }

  .infografico .botao-voltar {
    font-size: 0.5rem;
    padding-right: 3px;
  }

  .infografico img {
    height: 95%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 376px) {
  main.compre-main {
    width: 100%;
    min-height: 200px;
    margin: 5px auto;
  }

  .compre-content {
    width: 50%;
  }

  .compre h1 {
    font-size: 0.7rem;
  }

  .compre p {
    font-size: 0.4rem;
    line-height: 1.1;
  }

  .btn-whatsapp img {
    width: 100%;
    height: min-content;
    object-fit: contain;
  }

  .btn-whatsapp {
    margin-bottom: 4px;
  }
  .infografico {
    margin-top: 10px;
    padding-top: 10px;
    width: 55%;
  }
  .infografico .botao-voltar {
    font-size: 0.4rem;
  }

  .infografico img {
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 320px) {
  .compre-content {
    width: 50%;
  }

  .compre h1 {
    font-size: 0.6rem;
  }

  .compre p {
    font-size: 0.35rem;
  }

  .btn-whatsapp img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .infografico {
    width: 62%;
    padding-top: 12%;
  }

  .infografico img {
    height: 100%;;
    object-fit: contain;
    width: 100%;   
  }
  .btn-whatsapp {
    margin-bottom: 2px;
  }
  .infografico .botao-voltar {
    font-size: 0.35rem;
    padding-right: 2px;
}
}