
.recipe-container {
  background-image: url(../../../images/global/background-receitas.webp);
  background-repeat: repeat-x;
  background-size: 980px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Agrupa imagem e ingredientes lado a lado */
.image-ingredients {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  width: 1050px;
  padding-top: 80px;
}
.recipe-container img{
  display: block;
}
.recipe-image img{
  width: 450px;
  height: auto;
  display: block;
}
.recipe-image{
  position: relative;
  height: auto;
}
.recipe-image:hover{
  transform:scale(103%);
  transition: 0.2s ease-in-out;
}
/* Ingredientes */
.ingredients {
  max-width: 550px;
}
.ingredients h5{
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  padding-left: 50px;
}
.ingredients h2 {
  font-family: 'MyriadProRegular',sans-serif;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
}
.ingredients p{
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 50px;
}
.ingredients ul {
  list-style: disc;
  padding-left: 50px;
}

.ingredients li {
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 5px;
}

/* Modo de preparo */
.instructions {
  margin-top: 40px;
  width: 950px;
}

.instructions h2 {
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align:initial;
}
.instructions h5{
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
}
.instructions p {
  font-family: 'MyriadProRegular',sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 10px;
}
